<body>
    <div class="wrapper">
        <div class="box header">
            <h2>Bank Account</h2>
        </div>
        <div class="box content" id="div-account">
            <label for="p-amount">Main Account:</label>
            <p id="p-amount"></p>
        </div>
        <div class="box footer" id="div-feature">
        </div>
    </div>
</body>
