<body>
    <h2>Bank Account</h2>
    <div>
        <p>1500€</p>
    </div>
    <div>
        <div><button id="button-contacts">Contacts</button></div>
        <div><button id="button-accounts">Accounts</button></div>
    </div>
</body>
