<body>
    <h2 id="h2-list">List of Beneficiaries</h2>
    <div id="div-search">
        <label for="input-search">Search a beneficiary:</label>
        <input id="input-search" type="text">
    </div>
    <div id="list">
    </div>
    <div>
        <button id="button-create">Create</button>
        <button id="button-return">Return</button>
    </div>
</body>
