<body>
    <div class="wrapper">
        <div class="box header">
            <h2 id="h2-list">List of Beneficiaries</h2>
        </div>
        <div class="box content" id="div-account">
            <div id="div-search">
                <label for="input-search">Search a beneficiary:</label>
                <input id="input-search" type="text">
            </div>
            <div id="list"></div>
        </div>
        <div class="box footer" id="div-feature">
            <button id="button-create">Create</button>
            <button id="button-return">Return</button>
        </div>
    </div>
</body>
