<body>
    <label name="fname">First name : </label>
    <label name="fname-value"></label><br>

    <label name="sname">Second name : </label>
    <label name="sname-value"></label><br>

    <button>Make a transfer</button>
    <button>Edit profile information</button>
</body>
