<body>
    <div>
        <label for="fname-value" id="fname">First name : </label>
        <label id="fname-value"></label><br>

        <label for="lname-value" id="sname">Last name : </label>
        <label id="lname-value"></label><br>

        <button>Make a transfer</button>
        <button>Edit profile information</button>
    </div>
</body>
