<body>
    <div>
        <h2>Profile</h2>
        <label for="fname-value" id="fname">First name : </label>
        <input type="text" id="fname-value">

        <label for="lname-value" id="sname">Last name : </label>
        <input type="text" id="lname-value">

        <label for="iban-value" id="sname">IBAN : </label>
        <input type="text" id="iban-value">
    </div>
    <div id="div-edit">
        <button id="button-validate">Validate</button>
        <button id="button-cancel">Cancel</button>
    </div>
    <div id="div-button">
        <button id="button-remove">Remove the beneficiary</button>
        <button id="button-transfer">Make a transfer</button>
        <button id="button-edit">Edit profile information</button>
        <button id="button-return">Return</button>
    </div>
</body>
