
<body>

<label name="fname">First name:</label>
<label name="fname-value"></label><br>

<label name="sname">Second name:</label>
<label name="sname-value"></label><br>

<label name="iban">IBAN:</label>
<label name="iban-value"></label><br>

<button name="edit-button" type="button">Edit contact information</button><br>
<button name="transfer-button" type="button">Make a transfer</button><br>

</body>
