<body>
    <h2>Transfer</h2>
    <label for="input-amount">Amount:</label>
    <p><input type="text" id="input-amount" placeholder="30">€</p>
    <p>Beneficiary: <input type="text" id="input-beneficiary" disabled></p>
    <button id="button-validate">Validate</button>
    <button id="button-cancel">Cancel</button>
</body>
